{{define "content"}}
<div class="section">
	<div class="container">
		<h1>Mobile Apps</h1>
		<hr>
	</div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="span6">
                <img alt="Android" src="http://plansource.io/assets/android-90fce0d366a8a5a530533d0d26db3d38.png">
                <h2>Android</h2>
                <a href="https://play.google.com/store/apps/details?id=io.plansource">PlanSource - Android</a>
            </div>
        </div>
    </div>
</div>
{{end}}
