{{define "content"}}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="span5">
                <h2>Sign in</h2>
                <form action="/user/sign_in" class="form-vertical" method="post">
                    <input type="text" name="user[email]" placeholder="Email" class="input-block-level">
                    <input type="password" name="user[password]" placeholder="Password" class="input-block-level">
                    <input type="submit" name="submit" value="Sign in" class="btn btn-success btn-block btn-large">
                </form>
            </div>
            <div class="span5 offset2">
                <h2>Sign up</h2>
                <form action="/user" class="form-vertical" method="post">
                    <div class="row-fluid">
                        <div class="span6">
                            <input type="text" name="user[first_name]" placeholder="First" class="input-block-level">
                        </div>
                        <div class="span6">
                            <input type="text" name="user[last_name]" placeholder="Last" class="input-block-level">
                        </div>
                    </div>
                    <input type="text" name="user[company]" placeholder="Company" class="input-block-level">
                    <input type="text" name="user[email]" placeholder="Email" class="input-block-level">
                    <input type="password" name="user[password]" placeholder="Password" class="input-block-level">
                    <input type="submit" name="submit" value="Sign up" class="btn btn-primary btn-block btn-large">
                </form>
            </div>
        </div>
    </div>
</div>
{{end}}
